.draw-page {
  background: #233eb4;
  min-height: 100vh;
  font-family: "Courier New", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  .live-text {
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
  }
  .draws {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  }
  .draw-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    .draw-title {
      font-size: 35px;
      font-weight: bold;
      color: #ffff40;
      letter-spacing: 1.5px;
    }
    .draw-nums {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2px;
      .draw-num {
        color: #fff;
        background: #183052;
        border: 2px solid #d09902;
        font-size: 35px;
        padding: 10px 15px;
        border-radius: 2px;
        font-weight: bold;
      }
    }
  }
  .draw-time {
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .draw-page {
    .draws {
      gap: 20px;
      .draw-container {
        .draw-title {
          font-size: 16px;
        }
        .draw-nums {
          .draw-num {
            font-size: 18px;
          }
        }
      }
    }
    .draw-time {
      font-size: 18px;
    }
  }
}